/* HEADER */
header {
    padding: 2em 0;
}

.logo-desktop {
    width: 200px;
    height: 89px;
}



/* BANNER */
.banner-desktop {
    width: 100%;
}



/* MONTE SEU PC MAIS BARATO */
.montepc {
    background: url(../img/monte-pc-agora/bg.jpg) no-repeat fixed;
    background-size: cover
}

.bgimgmp {
    background: rgba(0, 0, 139, 0.85);
}

.bgmpc {
    padding-top: 2em;
    padding-bottom: 2em;
}

h2 {
    color: white;
    font-size: 2em;
}

.montepc p {
    color: white;
    font-size: 2em;
    margin-top: .2em;
}


/* COMPONENTES */
.componentes {
    margin-top: 3em;
}    

.bgcomp {
    background-size: cover;
    width: 100%;
}

.bgcompcor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    background: rgba(65, 65, 65, 0.78);
}

.divcomp {
    margin-bottom: 1em;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    border: .5px solid rgba(255, 255, 255, 0.21);
}

.divcomp:hover {
    box-shadow: 1px 1px 10px black;
}


.divcomp select {
    max-height: 70px;
    padding: 1em 2em;
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: .5px solid rgba(255, 255, 255, 0.13);
    cursor: pointer;
    min-width: 225px;
    border-radius: .2em;
}

.divcomp select:hover {
    border: .5px solid rgb(255, 255, 255);
}

option {
    color: black;
}

.imagem-nome {
    display: flex;
    align-items: center;
}

.imagem-nome img {
    width: 100px;
    height: 100px;
    background: rgba(162, 162, 162, 0.21);
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

h3 {
    margin-left: 2em;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}



/* DESKTOP */
@media screen and (min-width: 768px) {
    
}


/* MOBILE */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.4em;
    }
    
    .montepc p {
        font-size: 1.2em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    .bgcompcor {
        flex-direction: column;
        justify-content: space-between;
    }
    
    .imagem-nome {
        width: 100%;
    }
    
    .divcomp {
        margin-bottom: 2em;
    }
    
    .divcomp select {
        width: 99%;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1em;
    }
    
    .bgcompcor {
        padding-right: 0;
    }
}


